{% extends "Base.html" %}
{% load static %}
{% block title %}Business{% endblock %}
 {% block content %}
       
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        {% for title,desc,img,readmore,description in row %}
                        <div class="sn-container">
                            <div class="sn-img">
                                <img src="{{img}}" />
                            </div>
                            <div class="sn-content">
                                <h1 class="sn-title">{{title}}</h1>
                                <p>
                                    {{description}}......<a href="{{readmore}}">Readmore</a>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="sn-related">
                            <h2>Related News</h2>
                            <div class="row sn-slider">
                                {% for title,desc,img,readmore,description in business %}
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{{img}}" style="height:148.64px;width:224px">
                                        <div class="sn-title">
                                            <marquee><a href="{{readmore}}">{{title}}</a></marquee>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sn-related">
                            <h2>International News</h2>
                            <div class="row sn-slider">
                                {% for title,desc,img,readmore in interbusi %}
                                <div class="col-md-4">
                                    <div class="sn-img">
                                        <img src="{{img}}" style="height:148.64px;width:224px">
                                        <div class="sn-title">
                                            <marquee><a href="{{readmore}}">{{title}}</a></marquee>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2 class="sw-title">In This Category</h2>
                                <div class="news-list">
                                    {% for title,desc,img,readmore,description in business1 %}
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img src="{{img}}" style="height:70.6px;width:100px">
                                        </div>
                                        <div class="nl-title">
                                            <marquee><a href="{{readmore}}">{{title}}</a></marquee>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <!-- <div class="sidebar-widget">
                                <div class="image">
                                    <a href="https://htmlcodex.com"><img src="/static/img/ads-2.jpg" alt="Image"></a>
                                </div>
                            </div> -->
                            
                            <div class="sidebar-widget">
                                <div class="tab-news">
                                    <ul class="nav nav-pills nav-justified">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="pill" href="#featured">Corporate</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#popular">Economy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#latest">Startups</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="featured" class="container tab-pane active">
                                            {% for title,desc,img,readmore in corporate %}
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="{{img}}" />
                                                </div>
                                                <div class="tn-title">
                                                    <a href="{{readmore}}">{{title}}</a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div id="popular" class="container tab-pane fade">
                                            {% for title,desc,img,readmore in economy %}
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="{{img}}" />
                                                </div>
                                                <div class="tn-title">
                                                    <a href="{{readmore}}">{{title}}</a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div id="latest" class="container tab-pane fade">
                                            {% for title,desc,img,readmore in startups %}
                                            <div class="tn-news">
                                                <div class="tn-img">
                                                    <img src="{{img}}" />
                                                </div>
                                                <div class="tn-title">
                                                    <a href="{{readmore}}">{{title}}</a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="sidebar-widget">
                                <div class="image">
                                    <a href="https://htmlcodex.com"><img src="/static/img/ads-2.jpg" alt="Image"></a>
                                </div>
                            </div> -->

                            <!-- <div class="sidebar-widget">
                                <h2 class="sw-title">News Category</h2>
                                <div class="category">
                                    <ul>
                                        <li><a href="">National</a><span>(98)</span></li>
                                        <li><a href="">International</a><span>(87)</span></li>
                                        <li><a href="">Economics</a><span>(76)</span></li>
                                        <li><a href="">Politics</a><span>(65)</span></li>
                                        <li><a href="">Lifestyle</a><span>(54)</span></li>
                                        <li><a href="">Technology</a><span>(43)</span></li>
                                        <li><a href="">Trades</a><span>(32)</span></li>
                                    </ul>
                                </div>
                            </div> -->

                            <!-- <div class="sidebar-widget">
                                <div class="image">
                                    <a href="https://htmlcodex.com"><img src="/static/img/ads-2.jpg" alt="Image"></a>
                                </div>
                            </div> -->
                            
                            <!-- <div class="sidebar-widget">
                                <h2 class="sw-title">Tags Cloud</h2>
                                <div class="tags">
                                    <a href="">National</a>
                                    <a href="">International</a>
                                    <a href="">Economics</a>
                                    <a href="">Politics</a>
                                    <a href="">Lifestyle</a>
                                    <a href="">Technology</a>
                                    <a href="">Trades</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single News End-->        
        {% endblock %}
